@media (max-width:768px) 
            {
           .text h1{
            margin: 0 auto;
            font-size: 30px;
            color: white;
}
    .imple{
    color: white;
    font-size: 9px;
    margin-top: 40px;}

.cloud_a{padding: 1px 18px;}

.download{
    color: white;
    background-color: #FC6A42;
    border: 0px;
    padding: 8px 28px;
    margin-top: 53px;
    border-radius: 5px;
    font-size: 8pt;
    }
.feature{
    color: white;
    background-color: #4466C9;
    border: 0px;
    padding: 8px 28px;
    margin-top: 53px;
    border-radius: 5px;
    font-size: 8pt;
}
    
.perfect_feature h1{
        font-size: 18px;
    color: #648cff;
    margin: 48px 415px;
}
    
        
            }

@media (min-width: 768px) and (max-width: 991px) 
            {

        .text h1{
            margin: 0 auto;
            font-size: 40px;
            color: white;
}
    .imple{
    color: white;
    font-size: 12px;
    margin-top: 40px;}

.cloud_a{padding: 110px 180px;}

.download{
    color: white;
    background-color: #FC6A42;
    border: 0px;
    padding: 10px 35px;
    margin-top: 57px;
    border-radius: 5px;
    font-size: 11pt;
    }
.feature{
    color: white;
    background-color: #4466C9;
    border: 0px;
    padding: 10px 35px;
    margin-top: 57px;
    border-radius: 5px;
    font-size: 11pt;
}
          

            }



@media (min-width: 992px) and (max-width: 1199px) 
            {
   
            }
@media (min-width: 1200px) 
            {
                
            }