.header_bg_img{
    background: url(../images/weatherapp_landing_page.jpg) no-repeat;
    min-height: 960px;
    background-position: center center;
    background-size: cover;
}



.logo{padding-top: 25px;
font-size: 14px;}

.navbar{padding-top: 5px;}

.nav li a{color: white !important;}

.navbar_style{
    background-color:transparent;
    box-shadow: none;
    background-image:none;
    border: 0px;
font-size: 10px;}



.text {
    margin: 150px auto;
    min-height: 350px;}

.text h1{margin: 0 auto;
font-size: 60px;
color: white;
}

.imple{color: white;
    font-size: 26px;
margin-top: 40px;}

.cloud_a{padding: 110px 180px;
position: relative;}

.download{
    color: white;
    background-color: #FC6A42;
    border: 0px;
    padding: 14px 35px;
    margin-top: 57px;
    border-radius: 5px;
    font-size: 18pt;
    }
.feature{
    color: white;
    background-color: #4466C9;
    border: 0px;
    padding: 14px 35px;
    margin-top: 57px;
    border-radius: 5px;
    font-size: 18pt;
}

.sunny{min-height: 70px;
color: white;
border-radius: 50px;
background-color: #FC6A42;
border: 0px;
position: absolute;}

.perfect_feature h1{
        font-size: 36px;
    color: #648cff;
    margin: 50px 515px;
}

.necessary{color: #b3b3b3;
    font-size: 15px;
    margin: -40px 621px;
    margin-bottom: 50px;
}

.perfect_feature_bg{
    min-height: 580px;
}

.slider_image{
    min-height: 950px;
    position: relative;
    margin-top: 50px;
}

.slider_1{
    position: absolute;
       top: 220px;
    left: 215px;
    z-index: 20;
}

.slider_2{
    position: absolute;
    top: 40%;
    left: 35%;
    z-index: 30;
}

.slider_3{
    position: absolute;
    top: 220px;
    left: 650px;
    z-index: 10;
}

.arrow_left{font-size: 100px;}
.arrow_right{font-size: 100px;
float: right;}

.mobile_display{min-height: 3000px;}

.app_download{min-height: 460px;
background-color: #648CFF;}